.container {
  width: 776px;
  background-color: #fff;
  margin: 0 auto;
}

.header {
  margin: 0;
  padding: 0;
  height: 200px;
}

.footer {
  font-size: 12px;
  height: 50px;
  padding: 10px;
  background-color: lighten(lightgray, 10);
}